@{
    ViewBag.Title = "Home Page";
}

<div class="row" >
    <div class="col-md-8">
        <div class="gray-content">
            <h2 class="green-header">Announcements</h2>
            <img class="img-responsive" src="http://pipsum.com/1024x768.jpg" alt="random-image"><img />
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p><br>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
        </div>
        <br />
        <div class="gray-content">
            <img class="img-responsive" src="http://pipsum.com/1024x769.jpg" alt="random-image"><img />
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center gray-content-event">
            <h2 class="green-header">Events</h2>
            <p>
                <b>January 25, 2015</b> Wavelength<br/>
                Discuss hospice niagara web portal.</p>
            <p>
                <b>January 26, 2015</b> Timothy Blokzyl<br />
                Discuss progress with Dave and Peter.
            </p>
        </div>
    </div>
</div>