@model IEnumerable<HospiceWebPortal.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    @*/////SideBar//////*@
    <div class="col-md-4">
        @*/////Action Required//////*@
        <div class="gray-content">
            <h2 class="green-header">Action Required</h2>
            <p>
                <strong>RSVP to Hike For Hospice</strong><br>
                <a href="#">Yes</a> | <a href="#">No</a> | <a href="#">Maybe</a><br><br>
                <strong>RSVP to the 5 Car Draw</strong><br>
                <a href="#">Yes</a> | <a href="#">No</a> | <a href="#">Maybe</a>
            </p>
        </div>
        @*/////Events//////*@
        <div class="gray-content">
            <h2 class="green-header">Events</h2>
            <p>
                <b>January 25, 2015</b> Wavelength<br />
                Discuss hospice niagara web portal.
            </p>
            <p>
                <b>January 26, 2015</b> Timothy Blokzyl<br />
                Discuss progress with Dave and Peter.
            </p>
        </div>
        @*/////Sidebar Announcements//////*@
        <div class="gray-content">

            <h2 class="green-header">Announcements</h2>

            <p style="text-align:left; padding: 0 15px 0 20px">
                <strong>What Is Lorem Ipsum?</strong><br> Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br><br> <strong>Why Do We Use It?</strong><br>
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. <br><br> <strong>Where can I get some?</strong><br>
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                including versions of Lorem Ipsum.
            </p>

        </div>
        @*/////Common Resources//////*@
        <div class="gray-content">

            <h2 class="green-header">Common Resources</h2>

            <p class="common-resources">

                <a href="#">Health and Safety</a><br>
                <a href="#">Incident Report</a><br>
                <a href="#">Mileage & Expense</a><br>
                <a href="#">Volunteer Ticket Seller Information Sheet</a><br>
            </p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="gray-content">
            <h2 class="green-header">Welcome Desk Schedule <a href="#" class="btn btn-success pull-right">Download</a></h2>
            <p>
                <b>Description: </b> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
        <div class="gray-content">
            <h2 class="green-header">St Catharines Day Hospice Schedule<a href="#" class="btn btn-success pull-right">Download</a></h2>
            <p>
                <b>Description: </b>  Aenean sed sem eu sapien maximus luctus. Vivamus vitae urna tempor, fringilla purus ut, tincidunt lacus. Quisque rutrum odio vel enim consectetur, vel egestas massa venenatis. Curabitur accumsan dui justo, ac lobortis est posuere vel. Suspendisse sed cursus nulla. Phasellus ac consectetur nibh. Sed nec tempus mauris. Vestibulum luctus turpis ante, eget ornare leo imperdiet at. Suspendisse id metus est. Vivamus eu pulvinar orci. Nunc aliquam, dui ac maximus imperdiet, ante mauris consectetur lectus, in sagittis risus nisi ut odio. Phasellus venenatis vulputate blandit.
            </p>
        </div>
        <div class="gray-content">
            <h2 class="green-header">Residential Schedule<a href="#" class="btn btn-success pull-right">Download</a></h2>
            <p>
                <b>Description: </b> Sed ornare lacus vitae fringilla dignissim. Donec et cursus ligula, non laoreet risus. Curabitur fringilla laoreet nunc at iaculis. Donec ultrices mauris in risus cursus, in ultrices augue ultricies. Phasellus consectetur, eros id vestibulum cursus, justo nulla molestie tortor, et fermentum magna purus porttitor metus.
            </p>
        </div>
        <div class="gray-content">
            <h2 class="green-header">Pet Therapy Schedule<a href="#" class="btn btn-success pull-right">Download</a></h2>
            <p>
                <b>Description: </b>  Fusce vitae purus id arcu rhoncus luctus eget et sapien. Donec sed feugiat purus, in suscipit elit. Proin lectus nisl, sollicitudin ac posuere ac, finibus vitae neque. Nunc suscipit convallis vulputate. Maecenas tincidunt justo fringilla hendrerit efficitur. Aliquam finibus enim sed ante pulvinar lacinia. Pellentesque tempor quam ut ex molestie, at congue eros ultrices. Etiam ornare vulputate sagittis. Phasellus dictum, massa eu viverra aliquet, libero dui feugiat sem, at facilisis tortor quam eu libero. Vestibulum euismod in ante vel porttitor. Donec at scelerisque purus. Suspendisse potenti. Aliquam arcu libero, rhoncus a est at, iaculis porta nulla. Ut arcu risus, volutpat a ligula eget, eleifend dignissim lacus. Fusce tincidunt nulla nec commodo consectetur. Cras lacus risus, maximus ut condimentum et, egestas non massa.
            </p>
        </div>
        <div class="gray-content">
            <h2 class="green-header">Welland Day Hospice Schedule<a href="#" class="btn btn-success pull-right">Download</a></h2>
            <p>
                <b>Description: </b>  Suspendisse fermentum, turpis id luctus semper, lectus risus molestie arcu, venenatis rhoncus mauris quam vel odio. Sed sit amet massa vitae nunc aliquam convallis id molestie eros. Suspendisse interdum faucibus arcu, ut congue odio auctor a. Proin metus eros, venenatis eget libero ut, luctus convallis erat. Integer ac imperdiet metus, in fringilla velit.
            </p>
        </div>
     </div>
</div>
